@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Black.eot');
	src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Black.woff2') format('woff2'),
		url('../fonts/Lato-Black.woff') format('woff'),
		url('../fonts/Lato-Black.ttf') format('truetype'),
		url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Medium.eot');
	src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Medium.woff2') format('woff2'),
		url('../fonts/Lato-Medium.woff') format('woff'),
		url('../fonts/Lato-Medium.ttf') format('truetype'),
		url('../fonts/Lato-Medium.svg#Lato-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.woff2') format('woff2'),
		url('../fonts/Lato-Bold.woff') format('woff'),
		url('../fonts/Lato-Bold.ttf') format('truetype'),
		url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff2') format('woff2'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Italic.eot');
	src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Italic.woff2') format('woff2'),
		url('../fonts/Lato-Italic.woff') format('woff'),
		url('../fonts/Lato-Italic.ttf') format('truetype'),
		url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Thin.eot');
	src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Thin.woff2') format('woff2'),
		url('../fonts/Lato-Thin.woff') format('woff'),
		url('../fonts/Lato-Thin.ttf') format('truetype'),
		url('../fonts/Lato-Thin.svg#Lato-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family:'Grotesk-Regular';
	src: url('../fonts/GroteskRegular_gdi.eot');
	src: url('../fonts/GroteskRegular_gdi.eot%3F') format('embedded-opentype'),
		url('../fonts/GroteskRegular_gdi.woff') format('woff'),
		url('../fonts/GroteskRegular_gdi.ttf') format('truetype'),
		url('../fonts/GroteskRegular_gdi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Grotesk-Bold';
	src: url('../fonts/GroteskBold_gdi.eot');
	src: url('../fonts/GroteskBold_gdi.eot%3F') format('embedded-opentype'),
		url('../fonts/GroteskBold_gdi.woff') format('woff'),
		url('../fonts/GroteskBold_gdi.ttf') format('truetype'),
		url('../fonts/GroteskBold_gdi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

h1 {
  animation-delay: 0.5s;
  animation-duration: 1.0s;
	font-size: 60px;
	line-height: 0.93em;
	font-family: 'Lato';
	display: block;
	text-align: center;
	position: absolute;
	width: 80%;
	height: 75px;
	margin: auto;
	left: 0;
	bottom: 0;
	right:0;
	top:0;
	padding: 0;
	z-index: 4;
	color: #ccc;
	letter-spacing: 12px;
	font-weight: lighter;
}

h3 {
  animation-delay: 1.0s;
	font-size: 20px;
	line-height: 0.93em;
	font-family: 'Lato';
	display: block;
	text-align: center;
	position: absolute;
	width: 80%;
	height: 50px;
	margin: auto;
	left: 0;
	bottom: 0;
	right:0;
	top: 0;
	padding: 0;
	z-index: 4;
	color: #ccc;
	letter-spacing: 12px;
	font-weight: lighter;
}

h2 {
	font-size: 65px;
	line-height: 1.2em;
	font-family: 'Lato';
	display: block;
	text-align: center;
	position: absolute;
	width: 70%;
	height: 140px;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
	right:0;
	padding: 0;
	z-index: 4;
	color: #555;
	letter-spacing: 0px;
	font-weight: lighter;
	
}

h2 a {color: #fff !important;}
h2 a:hover {text-decoration: line-through;}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

a,
a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #000;
}

.active2 {
	border-bottom: 1px solid #000;
}

body {
	padding: 0;
	text-align: center;
	margin: 0;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	position:relative;
}

#body {
	width: 100%;
	min-height: 100%;
	height: auto;
	position: relative;
	background: black;
	z-index: 999999;
	margin-bottom: 480px;
}

.wrapper {
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

header {
	height: 114px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 999999;
}

#top {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header span a {
	display: block;
	position: absolute;
	font-family: 'Grotesk-Regular';
	font-size: 15px;
	top: 45px;
	left: 49px;
	color: #000;
	letter-spacing: 1.2px;
}

header span a:hover {
	border-bottom: 1px solid #000;
}

.home_description {
	display: block;
	position: absolute;
	font-family: 'Grotesk-Regular';
	font-size: 15px;
	bottom: 35px;
	right: 49px;
	text-align: right;
	color: #fff;
	letter-spacing: 1.2px;
	z-index: 66666;
}

.home_description a {
	color: #fff;
}

.home_description a:hover {
	border-bottom: 1px solid #000;
}

.work_link {
	position: absolute;
	top: 40px;
	right: 50px;
	font-family: 'Grotesk-Regular';
	font-size: 15px;
	z-index: 999999;
	letter-spacing: 1.2px;
	text-align: right;
}

.work_link a {
	color: #000;
}

.customer {
	position: absolute;
	bottom: 40px;
	left: 50px;
	font-family: 'Grotesk-Regular';
	font-size: 15px;
	z-index: 999999;
	width: 380px;
	heigh: 20px;
	letter-spacing: 1.2px;
	text-align: left;
	
	-webkit-animation: fade_left 0.7s ease; /* Chrome, Safari, Opera */
    animation: fade_left 0.7s ease;
}

.customer a {
	color: #fff;
}

.customer a:hover {
	border-bottom: 1px solid #000;
}

header ul {
	display: block;
	position: absolute;
	font-family: 'Grotesk-Regular';
	font-size: 15px;
	top: 30px;
	right: 50px;
	height: 20px;
}

header ul li {
	float: left;
	list-style-type: none;
	margin-left: 125px;
	letter-spacing: 1.2px;
}

header ul li a:link,
header ul li a:visited,
header ul li a:active {
	color: #000;
	text-decoration: none;
}

header ul li a:hover {
	border-bottom: 1px solid #000;
}

.navi_fade {
	display: none;
}

.about {
	width: calc(100% - 88px);
	height: auto;
	margin: 0px auto 55px auto;
	padding-top: 235px;
	box-sizing: border-box;
	font-size: 7vw;
	line-height: 1.10em;
	letter-spacing: -1px;
	font-family: 'Lato';
  font-weight: 300;
	text-align: left;
	position: relative;
}


.about h1 {
  font-size: 5vw;
  width: 100%;
  color: black;
  top:0;
  bottom: 0;
  margin: 0;
  padding: 100 0 0 0;
}


.contact {
	width: 80%;
	height: 510px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 106px;
	line-height: 1.02em;
	letter-spacing: -0.5px;
	font-family: 'Grotesk-Bold';
	text-align: center;
	position: absolute;
	color: #000;
}

.contact a:link,
.contact a:visited,
.contact a:active {
	color: #000;
	text-decoration: none;
}

.contact a:hover {
	text-decoration: underline;
}

.teaser_container {
	padding: 190px 10px 10px 10px;
  box-sizing: border-box;
  padding-left: 47px;
	height: auto;
	position: relative;
  width: 100%;
  z-index: 3;
}


.teaser_container h1 {
  font-size: 5vw;
  width: 100%;
  color: black;
  top:0;
  bottom: 0;
  margin: 0;
  padding: 50 0 0 0;
}


.teaser_item {
  background-color: rgb(235,235,235);
	width: calc(50vw - 88px);
	margin: 0 44px 44px 0;
  height: 20vw;
  overflow: hidden;
  float: left;
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.teaser_item img {
  background-color: rgb(235,235,235);
	max-width:100%;
  max-height: 100%;
  height: auto;
	width: 50%;
}

.teaser_item span {
	font-family: 'Grotesk-Bold';
	font-size: 115px;
	text-align: left;
	display: block;
	width: 100%;
	bottom: -35px;
	left: -25.5%;
	position:absolute;
	z-index: 999999;
}

.main {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.main h3 {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}
.main section .page_container {
	position: absolute;
	top: 100px;
	right: 105px;
	margin: 0;
	width: 60%;
	height: calc(100% - 100px);
	z-index: 3;
	background-size: cover;
	background-position: bottom right;
}

.main section  {
	overflow: hidden;
}

.main section > img {
	position: absolute;
	max-width: 100%;
	z-index: 1;
}

.contact_container {
	position:fixed !important; 
	z-index:1;
	width: 100%;
	height: 350px;
	background: #fff; 
	left:0; 
	bottom:0; 
	margin:0; 
	padding:0;
  display: flex;
}
.contact_container a:hover {
    margin: 0 3%;
    text-decoration: none;
}

.contact_container a  {
  font-size: 5vw;
  text-align: center;
  position: relative;
  min-width: 25%;
  min-height: 100%;
  background-color: rbg(17,17,17);
  margin: 0 1%;
  transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.contact_container h2 {
  min-width: 100%;
  background-color: #000;
  padding: 3% 0 0 0;
}

.font_color {
	color: rgb(255, 255, 255);
}

.font_color a {
	color: rgb(255, 255, 255);
}