/*--
Author: Abid Rahman
--*/

h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}


html, body{
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
  	background: #FFf;
}



.header{
    background-color: black;
    min-height: 100vh;
    overflow: cover;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
}

.header h1 { 
    animation-delay: 0.5s;
    animation-duration: 1.5s;
	color: #cccccc;
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: 200;
    letter-spacing: 10px;
}

.header h2 { 
    animation-delay: 2.0s;
    animation-duration: 1.0s;
	color: #999999;
    text-transform: lowercase;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 2px;    
}

.title {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.moreinfo {
    display: table-row;
}

.links {
    margin-bottom: 2em;
}

.links a { 
    animation-delay: 2.0s;
    animation-duration: 2.0s;
	color: #cccccc;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 5px;
    text-decoration: none;
}

.about {
    background-color: black;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
}

.content {
    margin: auto;
    background-color: #555555;
    width: 100%;
    min-height: 70vh;
    position: relative;
}

.name {
    animation-delay: 0.1s;
    background-color: #bbbbbb;
    text-align: center;
    width: 50%;
    height: 25%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content:center;
    flex-direction:column;
}

.aboutme {
    margin-top: 12.5%;
    position: absolute;
    animation-delay: 0.2s;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #888888;
    text-align: center;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content:center;
    flex-direction:column;
}

.content h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 150;
    letter-spacing: 15px;
}


.content h2 {
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 4px;
}

.contactlinks {
    animation-delay: 0.3s;
    position: absolute;
    background-color: #444444;
    width: 50%;
    height: 25%;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.contactlinks a  {
    position: relative;
    width: inherit;
    background-color: #222222;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.contactlinks a:hover {
    margin: 0 1em;
}

.linkedin {
    background-color: aliceblue;
}

.mail {
    animation-delay: 0.5s;
}
 
.github {
    animation-delay: 0.6s;
}

.content_middle{
	background: black;
	padding:8em 0;
    text-align: center;
    color: azure;
}


/*--responsive design--*/

@media (max-width:920px){
.about, .content_middle  {
  padding: 3em 0;
}
.tz-title-3 {
  font-size: 28px;
}
.content_middle {
  background: #f6f6f6;
}

.view .mask, .view .content {
  width: 87%;
  height: 100%;
}
.content_middle_bottom {
  padding: 3em 0 0 0;
}
.box_1 h3 {
  margin: 1em 0 0.5em;
}
.col-md-4.box_1 {
  margin-bottom: 2em;
}
.work {
  margin-top: 2em;
}
ul.span_1 {
  margin: 3em 0 0;
}  
.client {
  min-height: 390px;
  padding-top: 3em;
}
.contact {
  margin-bottom: 4em;
}
}
@media (max-width:640px){

.about p, .content_middle p {
  width: 70%;
}  
.view .mask, .view .content {
  width: 100%;
  height: 100%;
}
.col-sm-10 {
  width: 100%;
}
}
@media (max-width:480px){

.tz-title-3 {
  font-size: 25px;
  padding: 15px 0;
}
.tz-title-3:after {
  left: 44%;
}  
.about p, .content_middle p {
  width: 90%;
}
ul.f_social li {
  margin-right: 0px;
}
.box_1 h3 {
  font-size: 1em;
}
.client {
  min-height: 320px;
}
}
@media (max-width:375px){
.tz-title-3 {
  font-size: 20px;
  padding: 10px 0;
}
.about p, .content_middle p {
  width: 90%;
  font-size: 0.85em;
  margin: 0 auto 2em auto;
}
.col-md-3.team-grid{
   padding:0;
}
.copy {
  padding: 1em 0;
}
.copy p {
  font-size: 0.85em;
}  
}

